* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #e2e1e2;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.nav-bar{
    height: 50px;
    background-color: #fff;
    margin-bottom: 1rem;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}
.nav-link {
    display: flex;
    justify-content: center;
    line-height: 2.9rem;
    gap: 1rem;
}
.nav-link a {
    color: #000000;
}
.nav-link a:hover {
    text-decoration: none;
}


header {
    text-align: center;
    margin-bottom: 40px;
    background-color: #fff;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}
.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%; 
    object-fit: cover;
    margin: 0 auto 20px;
    display: block;
    border: 3px solid none; 
}


section {
    margin-bottom: 40px;
    background-color: #fff;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

ul {
    list-style-type: none;
}

li {
    margin-bottom: 10px;
}

.project {
    margin-bottom: 20px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration:overline;
    color: #000000;
}

#contact a {
    text-decoration: none;
    color: #000000;
}

footer {
    text-align: center;
    margin-top: 40px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}